.sign-up-box {
  // border-bottom: black !important;
  // border-bottom: 5px solid red !important;
  display: inline-block;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform-origin: bottom right;
    animation-name: highlight;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    // animation-direction: alternate;
  }

  @keyframes highlight {
        0% {
          width: 0;
          opacity: 0;
        }
      
        50% {
          width: 100%;
          opacity: 1;
        }
        100% {
          width: 100%;
          opacity: 0;
        }
      }

  .sign-up-title {
    font-weight: 700 !important;
  }
}

.google {
  background-color: white !important;
  color: black !important;

  &:hover {
    background-color: rgb(240, 240, 240) !important;
  }

  .google-icon {
    justify-content: center;
    text-align: center;
    height: 21px;
  }
  
}

.facebook {
  background-color: #3B5998 !important;

  &:hover {
    background-color: #3B5998 !important;
  }

  .facebook-icon {
    justify-content: center;
    text-align: center;
    height: 21px;
  }
}

.twitter {
  background-color: #55ACEE !important;

  &:hover {
    background-color: #55ACEE !important;
  }

  .twitter-icon {
    justify-content: center;
    text-align: center;
    height: 21px;
  }
}