.home-picture-grid {

  .home-picture {
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  } 

  .home-picture-box {
    text-align: center;
    background-color: rgba(249, 200, 217, 0.7);
    width: 60%;
    max-width: 70%;
    margin: auto;
    margin-top: 30vh;
    z-index: 1;

    .home-picture-description {
      position: relative;
      font-size: x-large;
      font-weight: 800;
      // color: white;
      text-transform: uppercase;
      z-index: 2;

      &:after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1; /* Place the pseudo element right under the content */
        top: 0;
        left: 0;
        background: linear-gradient(to top, #ff4081 50%, transparent 50%);
        animation-name: highlight;
        animation-duration: 3s;
        // animation-iteration-count: infinite;
        // animation-direction: alternate; /* Make the animation run back and forth */
      }

      @keyframes highlight {
        0% {
          width: 0;
          opacity: 0;
        }
      
        50% {
          width: 100%;
          opacity: 1;
        }
      }
    }

    .support-button {
      border: none;
      outline: none;
      position: relative;

      &:before, &:after {
        border: 0 solid transparent;
        transition: all 0.3s;
        content: '';
        height: 0;
        position: absolute;
        width: 24px;
        width: 100%;
        animation-name: highlight;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }

      &:before {
        border-top: 3px solid #a10000;
        right: 0;
        top: -5px;
      }

      &:after {
        border-bottom: 3px solid #a10000;
        bottom: -5px;
        left: 0;
      }

      &:hover:before, &:hover:after {
        width: 100%;
        animation-name: highlight;
        animation-duration: 3s;
      }
    }
  }
}

.home-logo {
  
  .logo {
    width: 65px;
    text-align: center;
  }

  .logo-header {
    font-weight: bold;
  }

  .logo-description {

  }
}