$main-color: #ff4081;

.about-logo {
  
  .logo {
    width: 65px;
    text-align: center;
  }

  .logo-header {
    font-weight: bold;
    color: $main-color;
  }

  .logo-description {

  }
}

.about-header {
  color: $main-color;
}