// .subscribe-picture {
//     height: 100vh;
//     position: absolute;
//     left: 0;
//     right: 0;
//     top: 0;
//     bottom: 0;
//     width: 100%;
//     height: 100%;
//     z-index: -1;
//   } 

.picture1 {
    width: 75px;
    text-align: center;
  }

  .picture2 {
    width: 105px;
    text-align: center;
  }

  .word {
    color:#FFFFFF
  }